:root {
 --corpo: #1D232A;
 --cabeçalho: #1D232A;
 --cabeçalho__mobile: #15191C;
--menu__lateral: #15191C;
--cartão: #2C343A;
--fonte: #FFFFFF;
--fonte__alternativa: #95999C;
--links: #0480DC;
--botão: #0480DC;
--sombras: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: var(--corpo);
    font-family: 'Open Sans', 'icones', sans-serif;
    color: var(--fonte);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cabeçalho__mobile);
    padding: 8px 16px;
    box-shadow: var(--sombras);
}

.cabecalho__menu i::before {
    content: "\e904";
    font-size: 24px;
}

.cabecalho__notificacao i::before {
    content: "\e906";
    font-size: 24px;
}